@import "tailwindcss";

body{
  width: 100vw;
  background-color: #e6e6ff;
  overflow-x:hidden;
  font-family: "Montserrat", sans-serif;
}
.animateButton{
  transition-duration: 10000ms !important;
}
.ql-container{
  border: none !important;
}
.ql-toolbar{
  border: none !important;
}
.ql-editor{
  border: none !important;
}